@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Bahnschrift"; /* Name you choose to refer to the font later */
  src: url("../font/bahnschrift.ttf") format("truetype"); /* Path to your font file */
  font-weight: normal; /* Optional: define the weight for this specific file */
  font-style: normal; /* Optional: define the style for this specific file */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Bahnschrift", sans-serif;
  min-height: 100vh;
  background: #31353b;
}

.max-min-h-h {
  height: calc(100vh - 120px);
  min-height: 700px;
  max-height: 900px;
}

.max-min-h {
  height: 100vh;
  min-height: 700px;
  max-height: 900px;
}

.min-h {
  height: 100vh;
  min-height: 700px;
}

.max-h {
  height: 100vh;
  max-height: 900px;
}

@media (max-width: 1024px) {
  .max-min-h-h {
    height: auto;
    min-height: 700px;
    max-height: none !important;
  }
  .max-min-h {
    height: auto;
    min-height: 700px;
    max-height: none !important;
  }
}

.text-orange {
  color: #ff7d24;
}

.condensed-text {
  font-family: "Bahnschrift", sans-serif;
  font-weight: 300;
  font-size: 28px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  font-stretch: condensed; /* дополнительное сжатие */
  color: #d1d5db;
  background-color: #3f444b;
  padding: 30px;
}
